[submodule "job-bot"]
	path = job-bot
	url = https://REMOVED_SECRET@github.com/Dalbug0/job-bot.git
[submodule "job_aggregator"]
	path = job_aggregator
	url = https://REMOVED_SECRET@github.com/Dalbug0/job_aggregator.git
